html, body {
  height: 100%;
}

html { font-size: 62.5%; }
body { font-size: 22px; font-size: 2.2rem; letter-spacing: .1rem; line-height: 34px; line-height: 3.4rem; font-weight: 300; font-family: 'Oswald', sans-serif; color: #fff; }
h1   { font-size: 100px; font-size: 10.0rem; }

.montserrat { font-size: 18px; font-size: 1.8rem; text-transform: uppercase; font-family: 'Montserrat', sans-serif; letter-spacing: 8px; letter-spacing: .8rem; }
.oswald { text-transform: uppercase; font-family: 'Oswald', sans-serif; font-weight: 700; font-size: 48px; font-size: 4.8rem; }


a {
	color: #fff;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #eee;
  text-decoration: none;
}

a .dark {
	color: #7f8c8d;
}

.emoji {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

.emoji-sm {
	width: 30%;
	height: auto;
}

.full {
	min-height: 100%;
	padding: 15px;
}

.next {
	margin-top: 20px;
}

.green {
	background-color: #2ecc71;
}

.purple {
	background-color: #9b59b6;
}

.blue {
	background-color: #3498db;
}

.yellow {
	background-color: #f1c40f;
}

.red {
	background-color: #e74c3c;
}

.silver {
	background-color: #bdc3c7;
}

.gray {
	background-color: #7f8c8d;
}
