body {
  color: #fff;
  font-family: 'Nunito', sans-serif;
}
p {
  line-height: 1.5;
  font-size: 120%;
  letter-spacing: 1px;
}

.btn {
  border-radius: 0;
  background-color: transparent;
  border: 2.5px solid #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 10vh auto;
}
a {
  color: inherit;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #FF69B4;
  text-decoration: none;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #FF69B4;
  border-color: #FF69B4;
  color: #fff;
}

h4, .h4 {
  text-transform: uppercase;
  font-size: 95%;
  letter-spacing: 4px;
  line-height: 1.5;
  margin-top: 15vh;
  font-weight: bold;
}


video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(escalator.jpg) no-repeat;
    background-size: cover;
}
video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }
@media screen and (max-device-width: 800px) {
    html {
         background: url(polina.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}

#hero, #tag, #motives, #comps, #contact {
  min-height: 100vh;
}
.content {
  padding-top: 20vh;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}
#hero {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.70));
}
.hero-hi {
  display: block;
  margin: auto;
  max-width: 400px;
}
#video, .message {
  position: absolute; top: 0; left: 0;
}
#tag {
  margin-top: -10px;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  color: #333;
}
.tag-text {
  margin-bottom: 10vh!important;
}
#motives {
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.98));
}
#comps {
  background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.98));
}
#contact, #footer {
  background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95));
  color: #333;
}
.btn-white {
  border: 2.5px solid #333;
}
.img-contact {
  display: block;
  margin-left: 0;
  margin-bottom: -5vh;
  max-width: 300px;
}

#footer {
  height: 50px;
}
